/*============================
=            BLOG            =
============================*/

@import "../partial/settings";
@import "../partial/color";
#pa-sidebar {
    background: $purple;
    color: $white;
    .pa-title,
    .pa-description {
        margin: 0;
    }
    .pa-description {
        font-weight: 300;
        color: $teal;
    }
    .navigation-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .navigation-item {
        display: inline;
        zoom: 1;
    }
    .button-ghost {
        text-shadow: 0 1px 1px $alpha-2;
        background: transparent;
        border: 2px solid $teal;
        color: $white;
        margin-top: 1em;
        &:hover {
            border: 2px solid $indigo;
        }
    }
    .highlight-component {
        position: relative;
        margin: 1em 0;
    }
    .highlight-title {
        margin-bottom: 0.5em;
        font-size: 1.1em;
        color: $white;
    }
    .pure-highlight-item {
        display: inline;
    }
    .pure-highlight-link {
        color: lighten($violet, 25%);
        font-size: 1em;
        padding: 0;
        margin-left: 0.5em;
        &:hover {
            background: none;
            color: lighten($violet, 65%);
        }
    }
}

#pa-blog {
    padding: 0;
    min-height: 100%;
    .pa-profile {
        background: $white;
        border-bottom: 1px solid $alpha-1;
        position: fixed;
        z-index: 9999;
        height: 3.3em;
        width: 100%;
        top: 0;
        @include transition(top 0.2s ease-in-out);
        .pa-profile-image {
            position: fixed;
            width: 2.3em;
            height: 2.3em;
            right: 0;
            margin: 0.5em;
            margin-right: 1em;
        }
        .pa-search-box {
            @include border-radius(5px);
            border: 1px solid $dust;
            margin: 0.5em;
            margin-left: 1em;
            text-indent: 1.71em;
            padding: 0.5em;
            outline: none;
            width: 30%;
        }
        #search-input-icon {
            position: absolute;
            top: 1.14em;
            left: 1.71em;
            color: $gray;
            cursor: pointer;
            z-index: 1;
        }
        .menu-icon {
            color: $gray;
            font-size: 1.2em;
            position: fixed;
            margin-top: 1em;
            right: 60px;
            &:hover {
                color: darken($gray, 20%);
            }
        }
        .active .pa-dropdown {
            opacity: 1;
            pointer-events: auto;
            display: block;
        }
        [data-target="profile"] .pa-dropdown {
            right: 25.6%;
            width: 15em;
        }
        [data-target="notification"] .pa-dropdown {
            right: 28.6%;
            width: 30em;
            height: auto;
            text-align: center;
        }
        .pa-dropdown {
            max-width: 30em;
            max-height: 35em;
            position: absolute;
            top: 130%;
            padding: 0;
            background: $white;
            border: 1px solid $gray;
            opacity: 0;
            pointer-events: none;
            display: none;
            @include border-radius(5px);
            &:before {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                bottom: 100%;
                right: 13px;
                border-width: 0 8px 8px 8px;
                border-style: solid;
                border-color: $alpha-1 transparent;
            }
            &:after {
                @extend .pa-dropdown:before;
                right: 15px;
                border-width: 0 6px 6px 6px;
                border-color: $white transparent;
            }
            ul {
                list-style-type: none;
                padding: 0;
            }
            .pa-dropdown-title {
                margin: 1em;
                color: $coal;
                font-size: 1em;
                font-weight: normal;
                position: relative;
            }
            .pa-dropdown-element {
                &:hover a {
                    background: lighten($violet, 40%);
                }
                &:first-of-type a {
                    @include border-radius(5px 5px 0 0);
                }
                &:last-of-type a {
                    @include border-radius(0 0 5px 5px);
                }
                a {
                    display: block;
                    padding: 0.8em;
                    text-decoration: none;
                    color: $coal;
                    border-bottom: 1px solid $beige;
                }
            }
            .menu-dropdown-icon {
                color: $coal;
                margin-right: 0.5em;
            }
            .pa-dropdown-header {
                display: block;
                position: relative;
                width: 100%;
                height: 43px;
                top: 0;
                background: $beige;
                border-bottom: 1px solid $beige;
            }
            .pure-header-link {
                font-size: 90%;
                margin: 0.5em 1em;
                padding: 0.5em;
                border: 1px solid $alpha-1;
                background: $white;
                @include border-radius(3px);
                &:hover {
                    border: 1px solid $alpha-3;
                    color: $violet;
                }
            }
        }
        .clearfix:after {
            content: "";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    }
    .menu-hide {
        top: -3.3em;
    }
    #pa-content {
        padding: 0.5em 1em 0;
        margin-top: 3.3em;
        .pa-title-link {
            color: $coal;
            &:hover {
                color: $sky-blue;
            }
        }
    }
    .pa-post {
        background: $white;
        padding: 1.5em;
        margin-bottom: 1.2em;
        border-radius: 3px;
        box-shadow: 0 1px 4px $alpha-1;
        border: 1px solid $alpha-1;
    }
    .pa-post-title {
        font-size: 1.8em;
        color: $coal;
        margin-bottom: 0.2em;
    }
    .pa-post-parameter {
        display: table-cell;
    }
    .pa-post-meta {
        display: table-cell;
        padding-left: 1em;
        padding-top: 0.25em;
        position: relative;
    }
    .pa-post-author {
        color: $violet;
        display: inline-block;
        text-decoration: none;
        font-size: 100%;
        &:hover {
            color: lighten($violet, 10%);
        }
    }
    .pa-post-scatter {
        font-size: 90%;
        color: darken($gray, 20%);
    }
    .pa-post-dot {
        padding: 0 0.2em;
        font-weight: bold;
    }
    .pa-post-avatar {
        float: left;
        width: 36px;
        height: 36px;
    }
    .pa-post-description {
        font-size: 1.1em;
        color: $coal;
        line-height: 1.8em;
        margin-top: 1em;
    }
    .pa-post-utility {
        margin-top: 1em;
    }
    .pure-util-item {
        display: inline-block;
        margin-right: 0.75em;
    }
    .pure-util-link {
        color: $gray;
        font-size: 90%;
        &:hover {
            opacity: 0.8;
        }
    }
    .update-like {
        color: $green;
    }
}

#pa-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    padding: 1em 0;
    margin: 0 2em;
    .pure-menu-link {
        color: lighten($violet, 5%);
        font-size: 85%;
        padding: 0;
        margin-left: 1em;
        &:hover {
            background: none;
            color: lighten($violet, 25%);
        }
    }
}

.pa-unordered-list {
    padding: 0;
    list-style-type: none;
}
