/*============================
=            BLOG            =
============================*/

@import "../partial/settings";
@import "../partial/color";
#pa-sidebar {
    background: $purple;
    color: $white;
    .pa-title,
    .pa-description {
        margin: 0;
    }
    .pa-description {
        font-weight: 300;
        color: $teal;
    }
    .navigation-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .navigation-item {
        display: inline;
        zoom: 1;
    }
    .button-ghost {
        text-shadow: 0 1px 1px $alpha-2;
        background: transparent;
        border: 2px solid $teal;
        color: $white;
        margin-top: 1em;
        margin-right: 0.5em;
        &:hover {
            border: 2px solid $indigo;
        }
    }
}

#pa-blog {
    padding: 0;
    min-height: 100%;
    .pa-profile {
        background: $beige;
        position: fixed;
        z-index: 9999;
        height: 3.3em;
        width: 100%;
        top: 0;
        @include transition(top 0.2s ease-in-out);
        .pa-profile-image {
            position: fixed;
            width: 2.3em;
            height: 2.3em;
            right: 0;
            margin: 0.5em;
            margin-right: 2em;
        }
        .pa-search-box {
            @include border-radius(5px);
            border: 1px solid $dust;
            margin: 0.5em;
            margin-left: 2em;
            text-indent: 1.71em;
            padding: 0.5em;
            outline: none;
            width: 30%;
        }
        .fa-search {
            position: absolute;
            top: 1.14em;
            left: 2.71em;
            color: $gray;
            cursor: pointer;
            z-index: 1;
        }
        .active .pa-dropdown {
            opacity: 1;
            pointer-events: auto;
            display: block;
        }
        .pa-dropdown {
            width: 15em;
            max-width: 20em;
            position: absolute;
            top: 140%;
            right: 27%;
            padding: 0;
            background: $white;
            border: 1px solid $alpha-1;
            list-style-type: none;
            opacity: 0;
            pointer-events: none;
            display: none;
            @include box-shadow(0 0 5px $alpha-1);
            @include border-radius(5px);
            &:before {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                bottom: 100%;
                right: 13px;
                border-width: 0 8px 8px 8px;
                border-style: solid;
                border-color: $alpha-1 transparent;
            }
            &:after {
                @extend .pa-dropdown:before;
                right: 15px;
                border-width: 0 6px 6px 6px;
                border-color: $white transparent;
            }
            .pa-dropdown-element {
                &:hover a {
                    background: lighten($violet, 40%);
                }
                &:first-of-type a {
                    @include border-radius(5px 5px 0 0);
                }
                &:last-of-type a {
                    @include border-radius(0 0 5px 5px);
                }
                a {
                    display: block;
                    padding: 0.8em;
                    text-decoration: none;
                    color: $coal;
                    border-bottom: 1px solid $beige;
                }
            }
        }
        .clearfix:after {
            content: "";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    }
    .menu-hide {
        top: -3.3em;
    }
    #pa-content {
        padding: 1em 2em 0;
        margin-top: 3.3em;
    }
    .pa-subtitle {
        text-transform: uppercase;
        color: $gray;
        border-bottom: 1px solid $dust;
        padding: 0.4em 0;
        font-size: 80%;
        font-weight: 500;
        letter-spacing: 0.1em;
    }
    .pa-post {
        padding-bottom: 2em;
    }
    .pa-post-title {
        font-size: 1.8em;
        color: $coal;
        margin-bottom: 0.2em;
    }
    .pa-post-parameter {
        display: table-cell;
    }
    .pa-post-meta {
        display: table-cell;
        padding-left: 1em;
        padding-top: 0.25em;
        position: relative;
    }
    .pa-post-author {
        color: $violet;
        display: inline-block;
        text-decoration: none;
        font-size: 100%;
        &:hover {
            color: lighten($violet, 10%);
        }
    }
    .pa-post-scatter {
        font-size: 90%;
        color: darken($gray, 20%);
    }
    .pa-post-divider {
        padding: 0 0.2em;
        font-weight: bold;
    }
    .pa-post-avatar {
        float: left;
        width: 36px;
        height: 36px;
    }
    .pa-post-description {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.1em;
        color: $coal;
        line-height: 1.8em;
        margin-top: 1em;
    }
}

#pa-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    padding: 1em 0;
    margin: 0 2em;
    .pa-unordered-list {
        padding: 0;
    }
    .pure-menu-link {
        color: $gray;
        font-size: 85%;
        padding: 0;
        margin-left: 1em;
        &:hover {
            background: none;
            color: darken($gray, 20%);
        }
    }
}
