// >>>>>>>>>> _color.scss <<<<<<<<<<

// We use these as default colors throughout
$white: 	#ffffff;
$black:		#000000;
$violet: 	#6769b0;
$purple: 	#353866;
$green: 	#3ac569;
$teal:		#d6ecfa;
$pink:		#ef5285;
$gray: 		#aaaaaa;
$dust: 		#eeeeee;
$coal: 		#222222;
$indigo: 	#aaabd3;
$beige:		#f7f7f7;
$yellow: 	#f9d423;
$sky-blue:	#6aafe6;
$alpha-1: 	rgba(0, 0, 0, 0.1);
$alpha-2: 	rgba(0, 0, 0, 0.2);
$alpha-3: 	rgba(0, 0, 0, 0.3);
$alpha-4: 	rgba(0, 0, 0, 0.4);
$alpha-5: 	rgba(0, 0, 0, 0.5);
$alpha-6: 	rgba(0, 0, 0, 0.6);
$alpha-7: 	rgba(0, 0, 0, 0.7);
$alpha-8: 	rgba(0, 0, 0, 0.8);
$alpha-9: 	rgba(0, 0, 0, 0.9);
$beta-1: 	rgba(255, 255, 255, 0.1);
$beta-2: 	rgba(255, 255, 255, 0.2);
$beta-3: 	rgba(255, 255, 255, 0.3);
$beta-4: 	rgba(255, 255, 255, 0.4);
$beta-5: 	rgba(255, 255, 255, 0.5);
$beta-6: 	rgba(255, 255, 255, 0.6);
$beta-7: 	rgba(255, 255, 255, 0.7);
$beta-8: 	rgba(255, 255, 255, 0.8);
$beta-9: 	rgba(255, 255, 255, 0.9);
