// >>>>>>>>>> medium.scss <<<<<<<<<<

@media (min-width: 48em) {
    #pa-blog {
        margin-left: 25%;
    }
    .pa-header {
        margin: 20% 2em 0;
        text-align: right;
    }
    #pa-sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
