<div id="{{components.div-sidebar.id}}" class="pure-u-1 pure-u-md-1-4">
    <div class="pa-header">
        <h1 class="pa-title">{{elements.headings.one.[0]}}</h1>
        <h2 class="pa-description">{{elements.headings.two.[0]}}</h2>
        <nav id="{{components.div-sidebar.sub.navigation.id}}">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="pure-button button-ghost" href="">{{components.div-sidebar.sub.navigation.anchor.value}}</a>
                </li>
            </ul>
        </nav>
        <section class="highlight-component" ng-repeat="{{components.div-sidebar.sub.component.section.ng-repeat}}">
            <p class="highlight-title">{[{highlight.highlight_title}]}</p>
            <ul class="pa-unordered-list">
                <tag-transform tags="{[{highlight.highlight_tag}]}"></tag-transform>
            </ul>
        </section>
    </div>
    <div id="{{components.div-sidebar.sub.footer.id}}">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pa-unordered-list">
                {{#each components.div-sidebar.sub.footer.anchor}}
                <li class="pure-menu-item">
                    <a href="{{this.href}}" class="pure-menu-link">{{this.value}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<div id="{{components.div-blog.id}}" class="pure-u-1 pure-u-md-3-4">
    <div id="{{components.div-blog.sub.profile.id}}" class="pa-profile menu-show" scroll-hide>
        <a class="menu-link"><img drop-down class="pa-profile-image" ng-src="{[{blogs.getUserProfile()}]}"></a>
        <div class="pa-dropdown-wrapper">
            <ul class="pa-dropdown">
                {{#each components.div-blog.sub.profile.list}}
                <li class="pa-dropdown-element" {{#if this.ng-click}}ng-click="{{this.ng-click}}" {{/if}}>
                    <a><span class="fa fa-{{this.icon}} menu-dropdown-icon"></span> {{this.value}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <label for="{{elements.inputs.search.id}}">
            <span id="{{elements.spans.id.[0]}}" class="fa fa-search"></span>
            <input id="{{elements.inputs.search.id}}" type="{{elements.inputs.search.type}}" class="pa-search-box" placeholder="{{elements.inputs.search.placeholder}}" />
        </label>
        <div class="clearfix"></div>
    </div>
    <div id="{{components.div-blog.sub.content.id}}">
        <section class="pa-post" ng-repeat="{{components.div-blog.sub.content.section.ng-repeat}}">
            <header class="pa-post-header">
                <h2 class="pa-post-title">{[{blog.blog_title}]}</h2>
                <div class="pa-post-parameter">
                    <img class="pa-post-avatar" alt="{[{blog.submitted_by}]}" src="{[{blog.represented_by}]}">
                    <div class="pa-post-meta">
                        <a href="" class="pa-post-author">{[{blog.submitted_by}]}</a>
                        <p class="pa-post-scatter">
                            <span time-ago create-time="blog.blog_created_at"></span>
                            <span class="pa-post-dot">{{{elements.spans.value.[0]}}}</span>
                            <span time-read blog-content="blog.blog"></span>
                        </p>
                    </div>
                </div>
            </header>
            <div class="pa-post-description">
                <p>{[{blog.blog | limitTo : 200}]}</p>
            </div>
            <div class="pa-post-utility">
                <ul class="pa-unordered-list">
                    {{#each components.div-blog.sub.content.section.list}}
                    <li class="pure-util-item">
                        <a class="pure-util-link"><span class="fa fa-{{this.icon}}"></span> {{this.value}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <load-more-content init-load="blogs.loadMoreContent()"></load-more-content>
    </div>
</div>
